name: Coverage

on:
  push:
    branches: [ main, master ]
  pull_request:
    branches: [ main, master ]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.11'
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
    - name: Run tests with coverage
      run: |
        coverage run manage.py test retail_orders.backends 
        coverage report xml:coverage.xml
    - name: Generate coverage report
      uses: codecov/codecov-action@v3
      with:
        coverage_xml_path: coverage.xml
        output: coverage-badge.png
        file: ./coverage.xml
        push_to_branch: true
        fail_ci_if_error: false
        target_branch: main

